body{
    display: flex;
     gap: 40px;
  padding: 40px;
  align-items: center;    
   
}
.CardDias,
.CardDatas{
    width: 530px;
    height: 450px;
    background-color: rgb(255, 255, 255);
     box-shadow: rgba(51, 51, 51, 0.32) 0px 5px 22px;
     border-radius: 13px;
    padding-right: 10px;
    position: relative;
    
}

.data-atual{
    width: 330px;
    height: 40px;
     margin-left: 85px;
      margin-top: 5px; 
      text-align: center; 
      background-color: rgb(170, 197, 179);
      border-radius: 12px;
      border: none;
      padding-right: 4px;
}


.data-atual-2{
     width: 330px;
    height: 40px;
     margin-left: 85px;
      margin-top: 5px; 
      text-align: center; 
      background-color: rgb(199, 187, 197);
     border-radius: 12px;
      border: none;
      padding-right: 4px;
}

.btn-delete {
    background-color: rgb(255, 0, 0);
    width: 80px;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    border-radius: 12px;
    padding: 8px 12px;
    cursor: pointer;
}


.btn-delete:hover{
    transition: 0.3s;
    background-color: rgb(189, 27, 27);
    transform: scale(1.05);
}